body {
  padding: 0;
  margin: 0; 
  background: black;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.display {
    color:white;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
}

.prev-result {
    font-size: 6px;
    background-color: #232227;
    border-radius: 10px;
    padding: 2px;
    opacity: 0;
}

.current-input {
    font-size: 20px;
    height: 22px;
    width: auto;
}

.equation {
    display: flex;
    font-size: 7px;
    background-color: #232227;
    height: 13px;
    width: 150px;
    margin: 2px auto;
    justify-content: flex-end;
    align-items: center;
    
}

img {
    background-color: #232227;
    width: 8px;
    height: 9px;
    margin-right: 0;
    padding-right: 0;

}

button {
    background: none;
    border: none;
    padding: 2px;
    cursor: pointer;
}

.keyboard {
    margin-left: auto;
    margin-right: auto;
    color: white;
    cursor: pointer;
}

table {
    border: none;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
}

td {
    margin: 2px;
    width: 36px;
    height: 25px;
    border-radius: 5px;
    text-align: center;
}


.operators {
    background-color: #232227;
}

.operators:hover {
    background: #34333a;
}

.clear {
    background-color: #232227;
}

.clear:hover {
    background: #34333a;
}

.numbers {
    background-color: #343338;
}

.numbers:hover {
    background: #413f46;
}

.coma {
    background-color: #343338;
}

.coma:hover {
    background: #413f46;
}

.change-to-negative {
    background-color: #343338;
}

.change-to-negative:hover {
    background: #413f46;
}

.equal {
    background-color: #fe7002;
}

.equal:hover {
    background: #e26709;
}
